.mb-1{
    margin-bottom: 1rem;
    @include response(phone){
        margin-bottom:.9rem
        
    }
}
.mb-2{
    margin-bottom: 2rem;
    @include response(phone){
        margin-bottom:1.2rem
        
    }
    
}
.mb-3{
    margin-bottom: 3rem;
    @include response(phone){
        margin-bottom:1.5rem
        
    }
}